ul{
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    background: black;
}

li{
    display: inline-block;
}

a{
    color:white;
    padding: 10px;
    display: block;
    text-decoration: none;
}

a:hover{
    color:black;
    background: white;
    transition: 0.2s linear;
}
