{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                {% if consumer.profile_image %}
                                <img src="{{ consumer.profile_image.url }}" alt="Profile image" class="rounded-circle"
                                     width="150">
                                {% else %}
                                    <img src="{% static 'images/anonymous.jpg' %}" alt="Profile image" class="rounded-circle"
                                     width="150">
                                {% endif %}
                                <div class="mt-3">
                                    <h4>{{ consumer }}</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Full Name</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ consumer }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    {{ consumer.phone_number }}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-info " target="__blank"
                                       href="{% url 'edit consumer' request.user.id %}">Edit</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}