{% extends 'shared/base.html' %}

{% block content %}
    <div class="container">
        <div class="main-body">

            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="{{ producer.profile_image }}" alt="Profile image" class="rounded-circle"
                                     width="150">
                                <div class="mt-3">
                                    <h4>{{ producer }}</h4>
                                    <p class="text-secondary mb-1">{{ producer.description }}</p>
                                    <p class="text-muted font-size-sm">{{ producer.location }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Full Name</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ producer }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Phone</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ producer.phone_number }}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <h6 class="mb-0">Address</h6>
                                    </div>
                                    <div class="col-sm-9 text-secondary">
                                        {{ producer.location }}
                                    </div>
                                </div>
                                <hr>
{#                                <div class="row">#}
{#                                    <div class="col-sm-12">#}
{#                                        <a class="btn btn-info " target="__blank"#}
{#                                           href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="w-50 m-auto">#}
{#                                    <form action="{% url 'producer details' %}" method="post"#}
{#                                          enctype="multipart/form-data">#}
{#                                        {% csrf_token %}#}
{#                                        {{ form }}#}
{#                                        <button class="button btn-success">Update</button>#}
{#                                    </form>#}
{#                                </div>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}